body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
}

.navbar {
    background-color: #EBEBEB;
    color: #2A364E;
    display: flex;
    justify-content: space-between;;
    align-items: center;
    padding: 10px 20px;
}

.menu-icon{
    background: none; 
    border: none;
    cursor: pointer;
    padding: 1px;
}
.menu-icon img {
    margin-right: 20px; 
}

.menu-icon img, .menu-toggle img {
    width: 45px;
    height: 45px;

}

.logo {
    font-size: 1.4em;
    font-weight: bold;
    margin-right: auto; 
}

.logo1 {
    font-size: 2em;
    color: #2A364E;
    font-weight: bold; 
    position: absolute;
    top: 80px; 
    left: 50%;
    transform: translateX(-50%);
}

.navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-right:40px;
}

.navbar-links a {
    display: inline-block; 
    padding: 10px 15px;
    text-decoration: none;
    color: #2A364E;
    background-color: #EBEBEB; 
    border-radius: 20px; 
    transition: background-color 0.3s;
    font-size: 1.1em;
}

.navbar-links2 a {
    display: inline-block; 
    padding: 10px 15px;
    text-decoration: none;
    color: #2A364E;
    background-color: #EBEBEB; 
    border-radius: 20px; 
    font-size: 1.1em;
}

.navbar-links a:hover {
    background-color: #2A364E; 
    color: #EBEBEB;
}





.chart-container {
    max-width: 600px;
    margin: auto;
}

#monthSelector {
    display: block;
    width: 200px;
    margin: 20px auto;
}


.titulo {
    font-size: 24px;
    color: #2A364E;
    margin: 65px;
    font-weight: bold;
    margin-left: 115px;
}



.month-selector {
    position: absolute;
    right: 200px;
    top: 200px;
    border-color: #FFF;
    width: 30px;
    height: 30px;
    font-weight: bold;
    color:#2A364E;
    
}





.chart-container {

    width: 100%; /* Ajuste para usar el máximo ancho disponible */
    max-width: 800px; /* o cualquier ancho máximo que desees */
    background-color: #fff;
    border: 2px solid #2A364E; 
    height: 450px; /* Establece una altura fija para prueba */
    margin: 20px auto; /* Centrado horizontal */
    padding: 20px;
    box-sizing: border-box;
    border-radius: 20px;
}




.menudes {
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -400px; 
    background-color: #53A2B3;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 120px;
}


.menudes a {
    padding: 10px 15px;
    margin: 13px 0;
    text-decoration: none;
    font-size: 25px;
    color: #FFF;
    display: block;
    transition: 0s;
    margin-left: 40px;
}

.menudes a:hover {
    background-color: #4C94A4;
    width: 70%;
    color: #FFF; 
}

.menudes .close-btn {
    position: absolute;
    top: 10px;
    right: 42px;
    width: 50px;
    height: 50px;
    font-size: 60px;
    border-radius: 10px;
    border: 2px solid #2A364E;
    margin-left: 50px;
    border-color: none;
    background:#2A364E ; 
    color:#F2F1E2;
    cursor: pointer;
    text-align: center;
    padding: 0 5px 0 5px;
    line-height: 50px;
}

.menu-icon {
    cursor: pointer;
}