<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CtrlTemp</title>
    <link rel="stylesheet" href="../static/css/styles9.css" />
  </head>

  <body>
    {% include 'layout/main_navbar.html' %}

    <div class="titulo">
      <img
        class="icono-config"
        src="../static/images/icono-config.png"
        alt="engranaje"
      />
      <span>
        <a href="/settings">CONFIGURACIÓN</a> /
        <a href="/settings/account">CUENTA</a> / CAMBIAR CONTRASEÑA
      </span>
    </div>

    <div class="container">
      <h2>Cambiar contraseña</h2>
      <span class="space"></span>
      <div class="form-container">
        {% if wrong_password %}
        <p>{{ wrong_password }}</p>
        {% endif %}
        <form class="login-form" method="POST">
          <div class="form-group">
            <label for="old-password">Contraseña anterior</label>
            <input
              type="password"
              id="old-password"
              name="old-password"
              required
            />
          </div>
          <div class="form-group">
            <label for="new-password">Nueva contraseña</label>
            <input
              type="password"
              id="new-password"
              name="new-password"
              required
            />
          </div>
          <div class="form-group">
            <label for="confirm-password">Confirmar contraseña</label>
            <input
              type="password"
              id="confirm-password"
              name="confirm-password"
              required
            />
          </div>
          <div class="form-buttons">
            <a
              class="cancelar"
              href="/settings/account"
            >
              CANCELAR
          </a>
            <button type="submit" class="confirmar">CONFIRMAR</button>
          </div>
        </form>
      </div>
      <span class="space"></span>
    </div>

    {% include 'layout/burger_menu.html' %}
  </body>
</html>
