<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cambio de contraseña en cuenta de CtrlTemp</title>
    <link rel="stylesheet" href="../static/css/email.css" />
  </head>
  <body>
    <h1>Hemos recibido tu solicitud para recuperar tu contraseña.</h1>
    <p>
      Por favor, da <a href="http://127.0.0.1:5000/save_new_password">click aquí</a> para poder
      seguir con el proceso y puedas
    </p>
    <p>En caso de que no hallas sido tú, ignora este mensaje.</p>
  </body>
</html>
