<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CtrlTemp</title>
    <link rel="stylesheet" href="../static/css/burger_menu.css" />
    <link rel="stylesheet" href="../static/css/styles14.css" />
  </head>
  <body>
    {% include 'layout/main_navbar.html' %}

    <div class="login-container">
      <form class="login-form" method="POST">
        <div class="logo1">Nueva contraseña</div>
        <p>{%if error %}{{error}}{% endif %}</p>
        <input
          type="password"
          name="new-password"
          placeholder="Contraseña"
          required
        />
        <input
          type="password"
          name="confirm-new-password"
          placeholder="Confirmar contraseña"
          required
        />
        <div class="button-container">
          <a href="/login" class="button-link">CANCELAR</a>
          <button type="submit" class="button-link">CONFIRMAR</button>
        </div>
      </form>
    </div>

    {% include 'layout/burger_menu.html' %}
  </body>
</html>
