<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CtrlTemp</title>
    <link rel="stylesheet" href="../static/css/styles13.css" />
    <link rel="stylesheet" href="../static/css/burger_menu.css" />
  </head>
  <body>
    {% include 'layout/login_navbar.html' %}

    <div class="login-container">
      <p class="text">
        {% if invalid_email %} {{ invalid_email }} {% else %} {{ sent_email }}
        {% endif %}
      </p>
      <form class="login-form" method="POST">
        <div class="logo1">
          <a class="regresar" href="/login"
            ><img src="../static/images/icono-regresar.png" alt="regresar"
          /></a>
          Contraseña olvidada
        </div>
        <div class="text">
          Introduzca su correo electrónico, le enviaremos un enlace para
          reestablecer su Contraseña
        </div>
        <input
          type="email"
          name="user_email"
          id="user_email"
          placeholder="Correo electrónico"
          required
        />
        <button type="submit">ENVIAR</button>
      </form>
    </div>

    {% include 'layout/burger_menu.html' %}
  </body>
</html>
