<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CtrlTemp</title>
    <link rel="stylesheet" href="../static/css/styles4.css" />
    <link rel="stylesheet" href="../static/css/burger_menu.css" />
  </head>
  <body>
    {% include 'layout/login_navbar.html' %}

    <div class="login-container">
      <form class="login-form" method="POST">
        <div class="logo1">Crear cuenta</div>
        <input
          type="text"
          name="user_names"
          id="user_names"
          placeholder="Nombre(s)"
          required
        />
        <input
          type="email"
          name="user_email"
          id="user_email"
          placeholder="Correo electrónico"
          required
        />
        <input
          type="password"
          name="user_password"
          id="user_password"
          placeholder="Contraseña"
          required
        />
        <input
          type="password"
          name="user_confirm_password"
          id="user_confirm_password"
          placeholder="Confirmar contraseña"
          required
        />

        <button type="submit">REGISTRARSE</button>
        <div class="extra-links2">
          <a title="cuenta">¿Ya tienes una cuenta?</a><br />
        </div>
        <div class="extra-links">
          <a href="/login">Inicia sesión aquí</a>
        </div>
      </form>
    </div>

    {% include 'layout/burger_menu.html' %}
  </body>
</html>
