{% block main_navbar %}
<nav class="navbar">
  <div class="logo">CtrlTemp</div>
  <div class="navbar-links">
    <ul>
      <li><a href="/">Inicio</a></li>
      {% if names and email_address %}
      <li><a href="/temperature_modes">Modos</a></li>
      {% elif email_address %}
      <li><a href="/temperature_modes">Modos</a></li>
      {% else %}
      <li><a href="/login">Iniciar sesión</a></li>
      {% endif %}
    </ul>
  </div>
  <button class="menu-icon" onclick="toggleMenu()">
    <img src="../static/images/iconomenu.png" alt="toggle menu" />
  </button>
</nav>
{% endblock %}
